<main>
    <div class="contact">
        <h2>Contact Me..</h2>

        <div class="contact__list">
            <div class="constact__email">
                <fa-icon [icon]="email" ></fa-icon> Email
                <div class="text-secondary">email&#64;email.com</div>
            </div>
            <div class="constact__email">
                <fa-icon [icon]="mobile" ></fa-icon> Phone
                <div class="text-secondary">+91 8237378502</div>
            </div>
            <div class="constact__address">
                <fa-icon [icon]="address" ></fa-icon> Address
                <div class="text-secondary">Evershine Jasmine, Evershine City,Vasai Road - 401208 </div>
            </div>
        </div>
    </div>
</main>