
<main>
    <section class="home">
        <h2>Hi! My Name Is </h2>
        <h1 class="home__name">Rohit <span class="home__name--last">Dubey</span></h1>
        <h2>
            Web Developer, Designer & Programmer
        </h2>
        <!-- <div class="social-icons">
            
            <a href="#!">
                <fa-icon [icon]="linkedin" class="fa-2x"></fa-icon>
            </a>
            <a href="#!">
                <fa-icon [icon]="facebook" class="fa-2x"></fa-icon>
            </a>
            <a href="#!">
                <fa-icon [icon]="instagram" class="fa-2x"></fa-icon>
            </a>
            <a href="#!">
                <fa-icon [icon]="github" class="fa-2x"></fa-icon>
            </a>
        </div>
        <footer>&copy; Copyright 2024</footer> -->
    </section>
</main>