<div class="container light">
    <main class="main">  
        <section class="card">
            <h2 class="title">Section Title</h2>
            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum minus dolorum eligend
                asperiores? Ullam, id harum omnis hic explicabo voluptas, quaerat alias a, doloribus quia eligendi atque
                accusantium magnam magni. Distinctio optio ad voluptatum explicabo praesentium adipisci in tempore qui
                placeat. Ea, doloremque fugit accusamus quibusdam culpa ad distinctio deserunt?</p>
            <div class="card-actions">
                <button class="btn1">Like</button>
                <button class="btn2">Dislike</button>
            </div>
        </section>
        <section class="card">
            <h2 class="title">Section Title</h2>
            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum minus dolorum eligendi
                asperiores? Ullam, id harum omnis hic explicabo voluptas, quaerat alias a, doloribus quia eligendi atque
                accusantium magnam magni. Distinctio optio ad voluptatum explicabo praesentium adipisci in tempore qui
                placeat. Ea, doloremque fugit accusamus quibusdam culpa ad distinctio deserunt?</p>
            <div class="card-actions">
                <button class="btn1">Like</button>
                <button class="btn2">Dislike</button>
            </div>
        </section>
    </main>
</div>